body {
  background-color: #EEE;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
button {
  margin: 0.1rem 0.25rem;
}
#title {
  display: inline;
  margin: 1rem;
}
#langSelection {
	right: 1rem;
	position: absolute;
	display: inline;
}
#authInput {
  font-size: 2rem;
  margin: 0.5rem;
}
