body {
  background-color: #eee;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
button {
  margin: 0.1rem 0.25rem;
}
#title {
  display: inline;
  margin: 1rem;
}
#authcodeAndButton {
  display: flex;
  align-items: center;
  > #authInput {
    font-size: 2rem;
    margin: 0.5rem;
    font-family: monospace;
    width: 8ch;
  }
  > button {
    height: 2rem;
  }
}
#langSelection {
  right: 1rem;
  position: absolute;
  display: inline;
}
#authModeSelectionMenu {
  border: dashed gray 1px;
  width: max-content;
  padding: 0.5rem 0.75rem;
  > .authModeSelection {
    padding: 0 1rem;
  }
}
