body {
  background-color: #eee;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
button {
  margin: 0.1rem 0.25rem;
}
#title {
  display: inline;
  margin: 1rem;
}
#authcodeAndButton {
  display: flex;
  align-items: center;
  > #authInput {
    font-size: 2rem;
    margin: 0.5rem;
    font-family: monospace;
    width: 8ch;
  }
  > button {
    height: 2rem;
  }
}
#langSelection {
  right: 1rem;
  position: absolute;
  display: inline;
}
#authModeSelectionMenu {
  border: dashed gray 1px;
  width: max-content;
  padding: 0.5rem 0.75rem;
  > .authModeSelection {
    padding: 0 1rem;
  }
}
#TEMPinfoPanes {
  display: flex;
  column-gap: 1rem;
  padding-top: 1rem;
  height: 50vh;
  #businessPane {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 20%;
    #buyBusinessButton {
      width: 100%;
      height: 2rem;
      border: dashed 1px black;
      align-content: center;
      text-align: center;
    }
    #businessList {
      border: dashed 1px black;
      width: 100%;
      height: 100%;
      > .businessListCard {
        width: 100%;
        height: 15vh;
        border-bottom: solid 1px black;
        > h3 {
          margin: 0;
          padding: 0.5rem;
        }
      }
    }
  }
  #businessInfoPane {
    display: flex;
    width: 50%;
    border: dashed 1px black;
    > div {
      width: 100%;
      > .title {
        display: flex;
        width: 100%;
        height: 3rem;
        border-bottom: dashed 1px black;
        justify-content: space-between;
        align-items: center;
        > h3 {
          margin: 0;
          padding-left: 1rem;
        }
        > button {
          aspect-ratio: 1;
          margin: 0.5rem;
          padding: 0;
          width: 2rem;
        }
      }
      > .content {
        padding: 0.5rem;
      }
    }
  }
}
